/* 游戏盒子 */
#game-box {
    width: 480px;
    height: 640px;
    border: 1px solid #000;
    margin: 50px auto;
    background-image: url(./images/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    /* 溢出隐藏 */
    overflow: hidden;
    display: flex;
    justify-content: center;
}
/* 大地 */
#land {
    width: 480px;
    height: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(./images/ground.png);
    background-size: auto 80px;
}
/* 小鸟的精灵图、雪碧图sprite，不能用img标签引入，要用bg-image引入 */
#bird {
    position: absolute;
    top: 200px;
    left: 170px;
    width: 57px;
    height: 40px;
    background-image: url(./images/bird.png);
    background-position: -200% 0;
}
/* 左上角logo */
#logo {
    background-image: url(./images/logo.png);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
}
/* 下方的管子 */
.pipe1 {
    position: absolute;
    width: 88px;
    height: 100px;
    background-image: url(./images/pipe1.png);
    
}
/* 上边的管子 */
.pipe2 {
    position: absolute;
    width: 88px;
    height: 100px;
    background-image: url(./images/pipe2.png);
    background-position: bottom center;
    top: 0;
}
/* 开始按钮 */
#start {
    background-color: rgb(147, 73, 8);
    color: rgb(252, 252, 252);
    position: absolute;
    width: 100px;
    height: 30px;
    top: 50%;
    visibility: visible;
    z-index: 2;
    cursor: pointer;
    border-radius: 6px;

}
/* 重新开始按钮 */
#restart {
    background-color: rgb(147, 73, 8);
    color: rgb(252, 252, 252);
    position: absolute;
    width: 100px;
    height: 30px;
    /* 居中 */ 
    left: 50%; 
    /* 拉回自己的宽度的一半 */
    margin-left: -53.5px; 
    /* 设置一个合适的距顶部距离 */
    top: 400px;
    z-index: 999;
    cursor: pointer;
    border-radius: 6px;

}
/* 遮罩盒子/死亡动画 */ 
#cover { 
    /* 绝对定位 */ 
    position: absolute; 
    /* top值，就是距离上边的距离 */ 
    top: 0; 
    /* left值，就是距离左边的距离 */ 
    left: 0;
     /* 宽度是父盒子的100% */ 
    width: 100%; 
    /* 高度是父盒子的100% */ 
    height: 100%; 
    /* 背景颜色，由于是渐变色，CSS规定必须是background-image而不是background-color */
    background-image: -webkit-radial-gradient(center center, rgb(243, 240, 240), rgb(205, 17, 17));
    /* 不出现 */ 
    visibility: hidden;
    /* 过渡 */ 
    transition: all .4s linear 0s;
}
/* tool工具箱 */
#tool {
    display: none;
}
/* 分数背景图 */
#Score {
    position: absolute;
    /* 宽度 */ 
    width: 152px; 
    /* 高度 */ 
    height: 200px; 
    /* 背景图片 */ 
    background-image: url(../images/score.png); 
    /* 让背景图片根据盒子的尺寸进行调整 */
    background-size: contain;  
    /* 让背景不重复平铺 */
    background-repeat: no-repeat;
    /* 居中 */ 
    left: 50%; 
    /* 拉回自己的宽度的一半 */ 
    margin-left: -76px; 
    /* 设置一个合适的距顶部距离 */ 
    top: 180px; 
    /* 设置堆叠顺序 */ 
    z-index: 999;
}
/* 现在分数 */
#mainScore {
    /* 字号 */ 
    font-size: 50px; 
    /* 不加粗 */ 
    font-weight: normal; 
    /* 颜色 */ 
    color: rgb(252, 10, 10); 
    /* 相对定位，设置相对定位的目的是：只有相对定位了，才能设置z-index属性值 */
     position: relative; 
    /* 设置堆叠顺序 */
    z-index: 9999; 
    /* 文字阴影 */ 
    text-shadow: 2px 2px 2px black;
    /* 居中 */ 
    text-align: center;
    /* 上外边距 */ 
    margin-top: 46%; 
    /* 文本不能被选中 */ 
     user-select:none;      
}
/* 最高分 */
#best {
     /* 字号 */ 
     font-size: 50px; 
     /* 不加粗 */ 
     font-weight: normal; 
     /* 颜色 */ 
     color: rgb(252, 10, 10); 
     /* 相对定位，设置相对定位的目的是：只有相对定位了，才能设置z-index属性值 */
      position: relative; 
     /* 设置堆叠顺序 */
     z-index: 9999; 
     /* 文字阴影 */ 
     text-shadow: 2px 2px 2px black;
     /* 居中 */ 
     text-align: center;
     /* 上外边距 */ 
     margin-top: 80%; 
     /* 文本不能被选中 */ 
      user-select:none;   

}

/* 大地停止 */
#land.stop  {
    animation: none;
}
/* 大地开始 */
#land.start  {
    animation:bgmove 3s linear infinite;
}
/* 大地的移动动画*/
@keyframes bgmove {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -100% 0;
    }
}
